body{
	background-color: #000000;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 15pt;
}

pre.terminal{
	font-family: Terminal;
	font-size: 15pt;
}

a{
	background-color: #FFE4C4;
}

table{
	font-family: Verdana;
	border-collapse:collapse;
}
table tr,th,td{
	padding:15px;
}
table tr.title{
	background-color:#8B4513;
}
table tr.a{
	background-color:#333333;
}
table tr.b{
	background-color:#222222;
}

pre.source{
	font-family: Verdana;
	font-size: 14;
	background-color: #555555;
	/* solid must be added if you need a rect around */
	border: 1px solid #888888;
	padding-left: 40px;
	/* word-wrap: break-word may be added here */
}

pre.source ol{
	color: #DDDDDD;
	padding: 5;
	margin: 0;
	background-color: #333333;
}

pre.source li:hover{
	background-color: #;
}
